.header {
  background-color: #1f1e1e;
  color: #fff;
  padding: 10px 30px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}
a {
  color: #fff;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px 50px;
}

.footer {
  background-color: #1f1e1e;
  color: #fff;
  padding: 10px 30px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.error {
  color: red;
}
.error::before {
  content: "* ";
}
/*
Login/signup Page
*/
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border: solid 1px #1f1e1e;
  border-radius: 10px;
  padding: 20px;
  background-color: aliceblue;
}
.user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: 30px;
}
.user-form > .input-field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.user-form > .input-field > input {
  width: 300px;
  height: 30px;
  border-radius: 5px;
  border: solid 1px #1f1e1e;
  padding: 5px;
}
.login-btn {
  background-color: #1f1e1e;
  color: #fff;
  padding: 10px 30px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  min-width: 220px;
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
  text-align: center;
}

.modal h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.modal button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 1rem;
}

.modal button:hover {
  background-color: #0062cc;
}
.dashboard {
  display: grid;
  grid-template-columns: 1fr 6fr;
}

/* sidebar */
.sidebar {
  position: relative;
  height: 80%;
  width: 200px;
  top: 30;
  padding: 10px;

  border-left: solid 1px #1f1e1e;
}
.dashboard-content {
  padding: 20px;
}
