.navbar {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.navbar-item a {
  text-decoration: none;
  color: #ffffff;
}

.navbar-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: none;
  flex-direction: column;
}

.navbar-item:hover .navbar-dropdown {
  display: flex;
}

.navbar-dropdown-item {
  padding: 1rem;
  white-space: nowrap;
}

.navbar-dropdown-item a {
  color: #333;
}

.sidebar {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #fff;
  height: 100%;
  width: 200px;
  top: 30;
  padding: 20px;
  background-color: #004eb4;
}

.sidebar .menu-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 20px;
  margin: 0;
  padding: 10px;
}
.sidebar-heading {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}
.sidebar .menu-list a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}
.sidebar p {
  font-size: 18px;
}
