body {
  margin: 0;
  font-family: Vazir-Regular-FD-UI;
}

@font-face {
  font-family: "Vazir-Regular-FD-UI";
  src: local("Vazir-Regular-FD-UI"),
    url("./fonts/Vazir-Regular-FD-UI.ttf") format("truetype");
}
